@import "tailwindcss";
@import "tailwindcss/utilities";  /* ✅ This enables Tailwind utilities like `animate-bounce` */
@theme {

  --animate-scroll: scroll 5s linear infinite alternate;
  --animate-scroll2: scroll2 5s linear infinite alternate;
  --animate-scroll3: scroll3 5s linear infinite alternate;
  --animate-rotate: rotate-box 5s cubic-bezier(.03,.97,.11,.97) infinite alternate;

  @keyframes scroll {
    0% {
      transform: translateX(-10vw); /* Start far right */
    }
    100% {
      transform: translateX(-45vw); /* Move to far left */
    }
  }

  @keyframes scroll2 {
    0% {
      transform: translateX(10vw); /* Start far left */
    }
    100% {
      transform: translateX(49vw); /* Move to far right */
    }
  }
  @keyframes scroll3 {
    0% {
      transform: scaleY(-1); /* Start far left */
    }
    50% {
      transform: scaleY(0); /* Move to far right */
    }
    100% {
      transform: scaleY(1); /* Move to far right */
    }
  }
  @keyframes rotate-box {
    0% {
      transform: perspective(800px) rotate3d(1, 1, 0, 20deg) skewX(10deg) skewY(10deg); /* Start far left */
    }
    33.33% {
      transform: rotate(90deg); /* Move to far right */
    }
    66.66% {
      transform: rotate(180deg); /* Move to far right */
    }
    100% {
      transform: rotate(360deg); /* Move to far right */
    }
  }
}
* {
  /* padding: 0; */
  /* margin: 0; */
  box-sizing: border-box;
  /* overflow-x: hidden; */
  /* font-family: "Inter", serif; */
}
body {
  background-color: #121B26;
}


