@import "tailwindcss";
@import "tailwindcss/utilities";  /* ✅ This enables Tailwind utilities like `animate-bounce` */
@theme {

  --animate-scroll: taofeeqah 3s linear infinite alternate;
  --animate-scroll2: ernest 3s linear infinite alternate;
  --animate-scroll3: scroll3 3s linear infinite alternate;
  --animate-scrollMd: taofeeqahMd 5s linear infinite alternate;
  --animate-scroll2Md: ernestMd 5s linear infinite alternate;
  --animate-scroll3Md: scroll3 5s linear infinite alternate;
  --animate-rotate: rotate-box 5s cubic-bezier(.03,.97,.11,.97) infinite alternate;
  --animate-buttonHover: buttonHover 2s ease-in-out;

  @keyframes taofeeqah {
    0% {
      transform: translateX(5vw); /* Start far right */
    }
    100% {
      transform: translateX(25vw); /* Move to far left */
    }
  }
  @keyframes taofeeqahMd {
    0% {
      transform: translateX(0vw); /* Start far right */
    }
    100% {
      transform: translateX(-35vw); /* Move to far left */
    }
  }

  @keyframes ernest {
    0% {
      transform: translateX(0vw); /* Start far left */
    }
    100% {
      transform: translateX(-20vw); /* Move to far right */
    }
  }
  
  @keyframes ernestMd {
    0% {
      transform: translateX(0vw); /* Start far left */
    }
    100% {
      transform: translateX(35vw); /* Move to far right */
    }
  }
  @keyframes scroll3 {
    0% {
      transform: scaleY(-1); /* Start far left */
    }
    50% {
      transform: scaleY(0); /* Move to far right */
    }
    100% {
      transform: scaleY(1); /* Move to far right */
    }
  }
  @keyframes rotate-box {
    0% {
      transform: perspective(800px) rotate3d(1, 1, 0, 20deg) skewX(10deg) skewY(10deg); /* Start far left */
    }
    33.33% {
      transform: rotate(90deg); /* Move to far right */
    }
    66.66% {
      transform: rotate(180deg); /* Move to far right */
    }
    100% {
      transform: rotate(360deg); /* Move to far right */
    }
  }
  @keyframes buttonHover {
    0% {
      background-color: transparent;
    }
    50% {
      background-color: #6C6CFF;
    }
    100% {
      background-color: #7F56D9;
    }
  }
}
* {
  /* padding: 0; */
  /* margin: 0; */
  box-sizing: border-box;
  /* font-family: "Inter", serif; */
}
body {
  background-color: #121B26;
  overflow-x: hidden;
}


